<!DOCTYPE html>
<title>BCUSEDBOOKFINDER</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='style.css')}}">
<h1>Welcome To Brooklyn College Used Book Finder

<h2 style="color:darkcyan;">Please select the department below: </h2>

<form action="/ANTH">
  <input type="submit" value="ANTH">
</form>

<form action="/BIO">
  <input type="submit" value="BIO">
</form>

<form action="/CISC">
  <input type="submit" value="CISC">
</form>

<form action="/ENG">
  <input type="submit" value="ENG">
</form>

<form action="/MATH">
  <input type="submit" value="MATH">
</form>

</html>