<!DOCTYPE html>
<h1><h1>English Department</h1> </h1>
<h2 style="color:darkturquoise;">Please uplpoad a picture of your book with Title, Author Name, Edition and ISBN Number </h2>

<html>
<head>

<script>
function writeText(){
var inputText = document.getElementById("text").value ;
var AllTextBoxes=document.querySelectorAll(".description");
   var lastTxtBox=AllTextBoxes[AllTextBoxes.length- 1];
   lastTxtBox.innerHTML = inputText; <!-- Add writeText() method to add description provided in textarea. -->
   document.getElementById("text").value = ""; <!--At the End Clear the TextArea for new image -->
}

</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body>

<label for="fileup">Select Image:</label>

<input type="file" multiple="false" name="fileup"><br>

<textarea id="text"> </textarea> <!-- Add id attribute to textarea field. -->

<input type="button" value="Upload" onclick="upload();writeText()"><br>
<div id='imgContainer'>

</div>
<script>

function upload(){

const file=document.querySelector('input[type="file"]')

if(file.files && file.files[0])
{
document.getElementById('imgContainer').innerHTML += '<div> <img src="#" alt="" height=0 width=0><p class="description" ></div>';
var imgs=document.querySelectorAll('img')
var img=imgs[imgs.length- 1];
img.src=URL.createObjectURL(file.files[0])
img.alt=file.files[0].name; <!--To Add the alt attribute of image with the file name -->
img.height=300
img.width=300

}
}


</script>

</body>


</html>

