<!DOCTYPE html>
<html>
<head>
<title>BCUSEDBOOKFINDER</title>

</head>
<body bgcolor="#F5F5DC">
<h1>    Brooklyn College Used Book Finder </h1>

<h2 style="color:darkcyan;">     Please select the department below: </h2>

<header>

  <div class="main">
    <ul>
      <li><a href="ANTH?">ANTH</a> </li>
      <li><a href="BIO?">BIO</a> </li>
      <li><a href="CISC?">CISC</a> </li>
      <li><a href="ENG?">ENG</a> </li>
      <li><a href="MATH?">MATH</a> </li>

    </ul>
  </div>

  <img src="/static/images/pic2.jpg" alt="Book cover" width="80%" height="auto">

  <style>

  *{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
  }
  img{
  margin-top: 25px;
  }

  h1{
  margin-top: 25px;

  }

  h2{
  margin-top: 25px;
  }

    ul{
      list-style-type: none;
      margin-top: 25px;
      margin-left: 10px;
    }
    ul li{
      display: inline-block;
    }

    ul li a{
      text-decoration: none ;
      color: #000000;
      padding: 5px 20px;
      border: 1px solid #191970;
    }
  </style>


</header>
</body>


</html>



