<!DOCTYPE html>
<html>
<head>
<title>BCUSEDBOOKFINDER</title>

</head>
<body>
<h1>Welcome To Brooklyn College Used Book Finder </h1>

<h2 style="color:darkcyan;">Please select the department below: </h2>

<img src="images/slide1.jpg" alt="slide1">
<header>

  <div class="main">
    <ul>
      <li><a href="ANTH?">ANTH</a> </li>
      <li><a href="BIO?">BIO</a> </li>
      <li><a href="CISC?">CISC</a> </li>
      <li><a href="ENG?">ENG</a> </li>
      <li><a href="MATH?">MATH</a> </li>

    </ul>
  </div>

  <style>

    ul{
      list-style-type: none;
    }
    ul li{
      display: inline-block;
    }

    ul li a{
      text-decoration: none ;
      color: #000000;
      padding: 5px 20px;
      border: 1px solid #191970;
    }
  </style>


</header>
</body>


</html>



